<%- model_class = FraminghamProfile -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:male) %>:</strong></dt>
  <dd><%= @framingham_profile.male %></dd>
  <dt><strong><%= model_class.human_attribute_name(:age) %>:</strong></dt>
  <dd><%= @framingham_profile.age %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sbp) %>:</strong></dt>
  <dd><%= @framingham_profile.sbp %></dd>
  <dt><strong><%= model_class.human_attribute_name(:treatment) %>:</strong></dt>
  <dd><%= @framingham_profile.treatment %></dd>
  <dt><strong><%= model_class.human_attribute_name(:smoker) %>:</strong></dt>
  <dd><%= @framingham_profile.smoker %></dd>
  <dt><strong><%= model_class.human_attribute_name(:diabetes) %>:</strong></dt>
  <dd><%= @framingham_profile.diabetes %></dd>
  <dt><strong><%= model_class.human_attribute_name(:height) %>:</strong></dt>
  <dd><%= @framingham_profile.height %></dd>
  <dt><strong><%= model_class.human_attribute_name(:weight) %>:</strong></dt>
  <dd><%= @framingham_profile.weight %></dd>
  <dt><strong>BMI:</strong></dt>
  <dd><%= calculate_bmi(@framingham_profile) %></dd>
  <dt><strong>Risk:</strong></dt>
  <dd><%= calculate_risk(@framingham_profile) %></dd>
</dl>

<div class="form-actions">
  <%= link_to "Again?", new_framingham_profile_path, :class => 'btn' %>
</div>
